<drac2>
# This alias adapted from code kindly donated by @thereverendb on the Avrae Support Discord server.

a = argparse(&ARGS&).last('invest')
arg = a if a != 'True' else get('defaultInvest')
dc = combat().get_combatant(arg).spellbook.dc
</drac2>
-dc {{dc}} magical
